.songRow {
    color: white;
    margin-left: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
    transform: scale(1.007);
    transition: transform 100ms ease-in-out ;
}
.songRow__left {
    display: flex;
    max-width: 400px;
}
.songRow__inner {
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}
.songRow__info {
    margin-left: 20px;
}

.songRow__info h1 {
    font-size: 17px;
}
.songRow__info p {
    font-size: 15px;
    margin-top: 3px;
    color: grey;
}
.songRow__album {
    height: 40px;
    width: 40px;
}
.songRow .audio {
    display: none;
}
.songRow__active{
    color: #1db954;
}
